#### Python basics

In [2]:
1+1

2

In [3]:
1-1

0

In [4]:
1*2

2

In [5]:
1/1

1.0

In [6]:
1/2

0.5

In [7]:
10%3

1

In [8]:
15%3

0

In [9]:
5%1

0

In [11]:
5%2

1

In [12]:
3**3

27

In [13]:
a=1

In [14]:
a+a

2

In [19]:
a = 10

In [22]:
a+a

200

In [21]:
a = 100

In [25]:
a= 1000

In [26]:
a+a

2000

General rules for variable names 

1. Variable name can not start with a number 
2. No spaces in between variable name
3. Cannot use the following (:'",<>/?|\()!@#$%^&*~-+)
4. Don't use Python names (ie: list or str)

In [31]:
#explaining what variables are

x = 2

In [30]:
x += 10 # x=x+10

In [29]:
print(x)

12

In [32]:
'''test '''

'test '

In [41]:
a ="I can\n't"

In [42]:
print(a)

I can
't

In [57]:
x = 1
y = 10

In [58]:
x+=y # x = x+y

In [59]:
print(x)

11

In [60]:
# subtract from self
x = 4
x -= 2 # subtract 2 from x, and assign the result to x
print(x)

2

In [61]:
# multiply from self
x = 5
x *= 3 # multiply 3 to x, and assign the result to x
print(x)

15

In [62]:
x = 5

In [63]:
type(x)

int

In [64]:
x = "hello world"

In [65]:
type(x)

str

In [66]:
# divide from self
x = 21
x /= 3 # divide 3 from x, and assign the result to x
print(x)

7.0

In [67]:
type(x)

float

### Strings

A `string` is a ordered sequence of characters written between quotation marks.

Here are a few examples:

```
my_string = 'abc'
my_string = 'It was a dark and stormy night.'
my_string = 'alsdf0898'
my_string = '   '
my_string = '\n'
```

In [68]:
'hello'

'hello'

In [69]:
'hello world'

'hello world'

In [70]:
"hello world"

'hello world'

In [72]:
"hello world, it's me"

"hello world, it's me"

In [73]:
'Hello'
"It's me"

"It's me"

In [74]:
print('Hello')

Hello

In [75]:
print('Hello')
print("It's me")

Hello
It's me

In [76]:
print('She was like, 'OMG what?!'')

SyntaxError: invalid syntax (<ipython-input-76-74172da8c46f>, line 1)

In [77]:
print('She was like, "OMG what?!"')
print("She was like, 'OMG what?!'")

She was like, "OMG what?!"
She was like, 'OMG what?!'

In [78]:
print('She was like, \'OMG what?!\'')
print("She was like, \"OMG what?!\"")

She was like, 'OMG what?!'
She was like, "OMG what?!"

In [79]:
print('Hello')
print("It's me")
print('\n') #line break 
print("I was wondering if after all these years you'd like to meet")

Hello
It's me


I was wondering if after all these years you'd like to meet

In [80]:
# block strings
print(''' 
Hi everyone!
Welcome to Python!
''')

# works the same with """

Hi everyone!
Welcome to Python!

In [83]:
print(' Hi everyone! Welcome to Python!')

 Hi everyone! Welcome to Python!

In [84]:
#check type 
print('Hello')
print(type("Hello"))

Hello
<class 'str'>

In [86]:
#check length 
print('Hello its me ')
len("Hello its me ")

Hello its me

13

In [87]:
#assign to a string 
b = 'Hello World'

In [89]:
print(b)

Hello World

In [90]:
my_string = 'I love trucks.'

In [91]:
print(my_string)

I love trucks.

In [92]:
my_string = 'I love butterflies.'

In [93]:
print(my_string)

I love butterflies.

In [94]:
my_string = 'I love trucks.'
print(my_string)
my_string = 'I love butterflies.'
print(my_string)

I love trucks.
I love butterflies.

In [95]:
print(my_string)

I love butterflies.

In [100]:

my_string = 'I love butterflies' + ' and I love trucks.'

In [101]:
print(my_string)

I love butterflies and I love trucks.

In [102]:
my_string = 'I love butterflies'
my_string += '!!!!!'
my_string += ' I really do!'

In [103]:
print(my_string)

I love butterflies!!!!! I really do!

In [110]:
my_string = 'I love butterflies. ' * 3

In [111]:
print(my_string)

I love butterflies. I love butterflies. I love butterflies.

In [112]:
b = 'Hello World'

In [113]:
b[0]

'H'

In [114]:
b[1]

'e'

In [115]:
b[1:]

'ello World'

In [116]:
b[:4]

'Hell'

In [117]:
b[:]

'Hello World'

In [118]:
b[-1]

'd'

In [119]:
b[:-1]

'Hello Worl'

In [122]:
b[::2]

'HloWrd'

In [123]:
b[::-2]

'drWolH'

In [ ]:
# b[start:stop:step]

In [124]:
b.upper()

'HELLO WORLD'

In [125]:
b.lower()

'hello world'

In [126]:
b.split()

['Hello', 'World']

In [127]:
my_string = "onCe Upon A TIME..."

print(my_string.lower()) # Convert all chars to lowercase
print(my_string.upper()) # Convert all chars to uppercase
print(my_string.capitalize()) # Convert first char only to uppercase
print(my_string.title()) # Convert string to title case
print(my_string.swapcase()) # Swap all uppercase for lowercase and vice-versa

once upon a time...
ONCE UPON A TIME...
Once upon a time...
Once Upon A Time...
ONcE uPON a time...

In [128]:
my_string = "onCe Upon A TIME..."

print(my_string.replace('o', 'oo'))

oonCe Upoon A TIME...

In [134]:
string = "Once,upon,a,time"
string_to_list = string.split(',') # split the string with a 'space' operator
print(string_to_list)

['Once', 'upon', 'a', 'time']

In [135]:
list_to_string = ' '.join(string_to_list) # join the list elements with a 'space' operator
print(list_to_string)

Once upon a time

In [136]:
number = 20

In [137]:
print (f'Hello, there are {number} of us in this class!')

Hello, there are 20 of us in this class!

In [138]:
print ("hello, there are {} of us in this class!".format(number))

hello, there are 20 of us in this class!

In [140]:
number = 20
day = "Wednesday"
print(f'Hello, there are {number} of us in class and today is {day}')

Hello, there are 20 of us in class and today is Wednesday

### Lists

List = Ordered sequence of objects 

Examples: 

['Hello', "it's", 2021]
[2019, 2020, 2021]


Lists are constructed with brackets [] and uses , (commas) to seperate elements in the list 

Note: Similiar to arrays in other languages

In [141]:
list_of_years = [2019, 2020, 2021]

In [142]:
list_of_events = ['pre-pandemic', 'pandemic', 'post-pandemic']

In [143]:
list_of_mixed = ['pre-pandemic', 2020, 'post-pandemic']

In [144]:
len(list_of_mixed)

3

In [145]:
list_of_mixed[0]

'pre-pandemic'

In [146]:
list_of_mixed[1:] #including 1, and everything after

[2020, 'post-pandemic']

In [149]:
list_of_mixed[:1] #up to not including 1

['pre-pandemic']

In [150]:
list_of_years + [2022]

[2019, 2020, 2021, 2022]

In [151]:
print (list_of_years)

[2019, 2020, 2021]

In [152]:
list_of_years = list_of_years + [2022]

In [153]:
print (list_of_years)

[2019, 2020, 2021, 2022]

In [154]:
list_of_years.append(2023)

In [155]:
print (list_of_years)

[2019, 2020, 2021, 2022, 2023]

In [156]:
list_of_years.pop(0)

2019

In [157]:
print (list_of_years)

[2020, 2021, 2022, 2023]

In [158]:
list_of_years.pop(0)

2020

In [159]:
print (list_of_years)

[2021, 2022, 2023]

In [160]:
list_of_years.reverse()

In [161]:
print (list_of_years)

[2023, 2022, 2021]

In [162]:
list_of_years.sort()

In [163]:
print (list_of_years)

[2021, 2022, 2023]

In [164]:
list_of_events.sort()

In [165]:
print (list_of_events)

['pandemic', 'post-pandemic', 'pre-pandemic']

In [166]:
# 3 list 
first=[1,2,3]
second=[4,5,6]
third=[7,8,9]

In [167]:
matrix = [first,second,third]

In [168]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [169]:
matrix[0]

[1, 2, 3]

In [170]:
matrix[0][0]

1

### Dictionaries 

UNORDERED key value pairs 

{'weather':'66 degrees','day_of_week':'Monday'}

In [171]:
# create a dictionary with key 
my_dict = {'key_1':'value_1','key_2':'value_2','key_3':'value_3'}

In [172]:
my_dict['key_3']

'value_3'

In [173]:
my_new_dict = {'code':'007','names':['James','Bond']}

In [176]:
my_new_dict['names'][1].upper()

'BOND'

In [177]:
c = {}

In [178]:
c ['class'] ='python'

In [179]:
c

{'class': 'python'}

In [180]:
c ['class_size'] = 20

In [181]:
c

{'class': 'python', 'class_size': 20}

In [182]:
c.keys()

dict_keys(['class', 'class_size'])

In [183]:
c.values()

dict_values(['python', 20])

### TUPLES and SETS 

##### Tuples - Ordered sequence of immutable (non-changable) objects 
 ('hello', 100, "it's me") 
 
Note: Tuples are used for things that shouldn't be changed, like dates on a calendar  
 
##### Sets - Unordered collection of UNIQUE objects (each item will appear once) 

 {'a','b'}

In [185]:
my_tuples = (0, 'One', 2, 'Three', 'One')

In [186]:
len(my_tuples)

5

In [187]:
my_tuples.index('Three')

3

In [188]:
my_tuples.count('One')

2

In [189]:
my_tuples.append('Four')

AttributeError: 'tuple' object has no attribute 'append'

In [190]:
my_tuples[0] = 'Zero'

TypeError: 'tuple' object does not support item assignment

In [191]:
d = set()

In [192]:
d.add(1)

In [193]:
d

{1}

In [194]:
d.add(2)

In [195]:
d

{1, 2}

In [196]:
d.add(2)

In [197]:
d

{1, 2}

In [198]:
list_repeats = [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3]

In [199]:
set(list_repeats)

{1, 2, 3}

### Boolean  and Logical Operations 

##### Booleans are logical value of True or False 

##### Logical operators are the "and", "or", "not" operators.


<table class="table">
<tr>
<th style="width:5%">Operator</th><th style="width:50%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [200]:
e = True

In [201]:
e

True

In [203]:
x = 5
print (x == 10) # == is for comparing values, = is for assigning values

False

In [204]:
x = 5
print(x!=5) #! is used as negation

False

In [205]:
x = 5

print(x > 3 and x < 10)

True

In [206]:
x = 5

print(x > 3 or x < 4)

True

In [207]:
x = 5

print(not(x > 3 and x < 10))

False

In [208]:
x = 5

print(x>=5)

True

In [209]:
x=5

print (x<=4)

False

In [210]:
x = True
y = False

print('x and y is',x and y) # one is true and the other is false, so 'and' is false

print('x or y is',x or y) # one is true, other is false, so 'or' is true 

print('not x is',not x) # opposite of true is false

x and y is False
x or y is True
not x is False

In [211]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

False
True

In [214]:
x = 'Hello world'

# Output: True
print('H' in x)

# Output: False
print('hello' in x) #this is because the "H" is capitalized

# Output: True
print('Hello' not in x)

True
False
False